header{
	background-color: #993399; 
	height: 100px;
	font-family: 'roboto';
}
header ul {
	display: flex;
}
header ul li {
	list-style: none;
	margin-top: 27px;
}
header ul li a {
	padding: 20px 30px;
	font-size: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
header ul li a:hover {
	padding: 20px 30px;
	font-size: 22px;
	color: #333333;
	text-decoration: none;
}
header h1 {
	color: #FFFFFF;
}
section .row{
	margin-top: 50px;
}
p {
	text-align: center;
	background-color: #FF00ff;
}
.col {
	background-color: red;
}